.navbar{
  background-color: #b77f37;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.nav-link{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.active{
  font-size: 22px;
  color: rgb(12, 96, 68);
  font-weight: 600;
  text-decoration: underline;
}

.form-container{
  text-align: center;
}

form{
  max-width: 500px;
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color:#b77f37;
  border-radius: 10px;
}

input{
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 3px;
}

input[type='submit']:hover{
  border: 2px solid #b77f37;
  color: #b77f37;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
}

.container{
  margin: 10%;
  text-align: center;
}

.link{
  background-color: #b77f37;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}
.link:hover{
  background-color: white;
  color: #b77f37;
  border: 2px solid #b77f37;
}

.books-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 5%;
}

.book-card,.book-detail-card{
  margin: auto;
  text-align: center;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

.book-detail-card{
  width: auto;
}

